body {
    background-color: #ECFFDC;
}

h1{
    text-align: center;
}

.form-container {
    text-align: center;
  }
  
label {
    display: inline-block;
}

.show {
    background-color: #ECFFDC;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border-color: green;
}

.show:hover {
    background-color: lightblue;
    border-color: blue;
}