body {
    font-family: 'Courier New', monospace;
    background-color: #ECFFDC;
}

#dataTable {
    text-align: center;
}

h1{
    text-align: center;
}

.form-container {
    text-align: center;
  }
  
  label {
    display: inline-block;
  }
  
  .show {
    background-color: #ECFFDC; /* Blue background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 5px; /* Add border radius */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.show:hover {
    background-color: #ECFFDC;
    color: black;
}